USE [PSDB]
GO
/****** Object:  View [dbo].[Loads]    Script Date: 8/31/2018 10:43:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Loads] AS 
SELECT * from [DAIDB].[dbo].[Loads]
GO
