USE [PSDB]
GO
/****** Object:  View [dbo].[Legs]    Script Date: 8/31/2018 10:43:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Legs] AS 
SELECT * from [DAIDB].[dbo].[Legs]
GO
